@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src:
    local('OpenSans'),
    local('Open Sans'),
    url("@/assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("@/assets/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src:
    local('OpenSans'),
    local('Open Sans'),
    url("@/assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("@/assets/fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src:
    local('OpenSans'),
    local('Open Sans'),
    url("@/assets/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("@/assets/fonts/OpenSans-Bold.woff") format("woff");
}