.t-h1 {
  font-family: var(--v-font-mian), sans-serif;
  font-weight: var(--v-t-h1-font-weight);
  font-size: var(--v-t-h1-font-size-mobile);
  line-height: var(--v-t-h1-line-height);
  letter-spacing: var(--v-t-h1-letter-spacing);
  text-transform: uppercase;

  @include media('md-and-up') {
    font-size: var(--v-t-h1-font-size);
  }
}

.t-h2 {
  font-family: var(--v-font-mian), sans-serif;
  font-weight: var(--v-t-h2-font-weight);
  font-size: var(--v-t-h2-font-size-mobile);
  line-height: var(--v-t-h2-line-height);
  letter-spacing: var(--v-t-h2-letter-spacing);
  text-transform: var(--v-t-h2-text-transform);

  @include media('md-and-up') {
    font-size: var(--v-t-h2-font-size);
  }
}

.t-h3 {
  font-family: var(--v-font-main), sans-serif;
  font-weight: var(--v-t-h3-font-weight);
  font-size: var(--v-t-h3-font-size-mobile);
  line-height: var(--v-t-h3-line-height);
  letter-spacing: var(--v-t-h3-letter-spacing);

  @include media('md-and-up') {
    font-size: var(--v-t-h3-font-size);
  }
}

.t-subtitle-1 {
  font-family: var(--v-font-main), sans-serif;
  font-weight: var(--v-t-subtitle-1-font-weight);
  font-size: var(--v-t-subtitle-1-font-size-mobile);
  line-height: var(--v-t-subtitle-1-line-height);

  @include media('md-and-up') {
    font-size: var(--v-t-subtitle-1-font-size);
  }
}

.t-subtitle-2 {
  font-family: var(--v-font-main), sans-serif;
  font-weight: var(--v-t-subtitle-2-font-weight);
  font-size: var(--v-t-subtitle-2-font-size);
  line-height: var(--v-t-subtitle-2-line-height);
}

.t-body-1 {
  font-family: var(--v-font-main), sans-serif;
  font-weight: var(--v-t-body-1-font-weight);
  font-size: var(--v-t-body-1-font-size-mobile);
  line-height: var(--v-t-body-1-line-height);

  @include media('md-and-up') {
    font-size: var(--v-t-body-1-font-size);
  }
}

.t-body-2 {
  font-family: var(--v-font-main), sans-serif;
  font-weight: var(--v-t-body-2-font-weight);
  font-size: var(--v-t-body-2-font-size-mobile);
  line-height: var(--v-t-body-2-line-height);

  @include media('md-and-up') {
    font-size: var(--v-t-body-2-font-size);
  }
}

.t-button {
  font-family: var(--v-font-main), sans-serif;
  font-weight: var(--v-t-button-font-weight);
  font-size: var(--v-t-button-font-size);
  line-height: var(--v-t-button-line-height);
  letter-spacing: var(--v-t-button-letter-spacing);
  text-transform: var(--v-t-button-text-transform);
}

.t-overline {
  font-family: var(--v-font-main), sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.t-caption-1 {
  font-family: var(--v-font-main), sans-serif;
  font-weight: var(--v-t-caption-1-font-weight);
  font-size: var(--v-t-caption-1-font-size-mobile);
  line-height: var(--v-t-caption-1-line-height);
  letter-spacing: var(--v-t-caption-1-letter-spacing);
  text-transform: var(--v-t-caption-1-text-transform);

  @include media('md-and-up') {
    font-size: var(--v-t-caption-1-font-size);
  }
}

.t-caption-2 {
  font-family: var(--v-font-main), sans-serif;
  font-weight: var(--v-t-caption-2-font-weight);
  font-size: var(--v-t-caption-2-font-size-mobile);
  line-height: var(--v-t-caption-2-line-height);
  letter-spacing: var(--v-t-caption-2-letter-spacing);
  text-transform: var(--v-t-caption-2-text-transform);

  @include media('md-and-up') {
    font-size: var(--v-t-caption-2-font-size);
  }
}