<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { URLS, useApi } from "@/api";
import { useDisplay } from "vuetify";

defineProps<{ msg: string }>();

const count = ref(0);

const { name, mobile } = useDisplay();

onMounted(async () => {
  const { get } = useApi();
  try {
    const { data } = await get<object>(URLS.TEST);
    // eslint-disable-next-line
    console.log(data);
  } catch (error) {
    // eslint-disable-next-line
    console.log(error);
  }
});

watch(name, (value) => {
  // eslint-disable-next-line
  console.log(value);
});
watch(mobile, (value) => {
  // eslint-disable-next-line
  console.log(value);
});
</script>

<template>
  <h1>{{ msg }}</h1>

  <div class="card">
    <v-btn rounded="50" color="primary" @click="count++">
      count is {{ count }}
    </v-btn>
    <primary-button>count is {{ count }}</primary-button>
    <p>
      Edit
      <code>components/HelloWorld.vue</code> to test HMR
    </p>
  </div>

  <p>
    Check out
    <a href="https://vuejs.org/guide/quick-start.html#local" target="_blank"
      >create-vue</a
    >, the official Vue + Vite starter
  </p>
  <p>
    Install
    <a href="https://github.com/vuejs/language-tools" target="_blank">Volar</a>
    in your IDE for a better DX
  </p>
  <p class="read-the-docs">Click on the Vite and Vue logos to learn more</p>
  <p class="t-h3 read-the-docs">
    Click on the Vite and Vue logos to learn more
  </p>
</template>

<style lang="scss" src="./hello-world.scss" scoped></style>
