<script setup lang="ts">
import HelloWorld from "./components/hello-world/HelloWorld.vue";
import VueIcon from "@/assets/svg/vue-icon.svg?component";
import ViteIcon from "@/assets/svg/vite-icon.svg?component";
</script>

<template>
  <v-app>
    <v-layout class="">
      <div>
        <div>
          <a href="https://vitejs.dev" target="_blank">
            <v-icon :icon="ViteIcon" class="logo"> </v-icon>
            <vite-icon class="logo" />
          </a>
          <a href="https://vuejs.org/" target="_blank">
            <vue-icon class="logo" />
          </a>
        </div>
        <hello-world msg="Vite + Vue" />
      </div>
    </v-layout>
  </v-app>
</template>

<style scoped>
.logo {
  height: 6em;
  width: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
